---
import Base from "../../layouts/Base.astro";

const title = "Polityka prywatności";

---

<Base title={title}>
  <section>
    <h1 class="mb-8 text-2xl font-medium tracking-tight">Polityka prywatności</h1>
      <article class="prose prose-quoteless prose-neutral dark:prose-invert">
      <section id="informacje-ogolne">
            <h2>1. Informacje ogólne</h2>
            <p>Niniejsza Polityka Prywatności określa zasady przetwarzania danych osobowych użytkowników strony internetowej www.wojciechsmolarek.pl (dalej jako "Strona"). Właścicielem Strony jest Wojciech Smolarek, osoba fizyczna świadcząca usługi na podstawie umowy cywilnoprawnej i rozliczająca się za pośrednictwem platformy Useme.</p>
        </section>

        <section id="dane-osobowe">
            <h2>2. Jakie dane osobowe zbieramy</h2>
            <p>Na Stronie mogą być zbierane następujące dane osobowe:</p>
            <ul>
                <li>Imię i nazwisko</li>
                <li>Adres e-mail</li>
                <li>Numer telefonu (jeśli zostanie podany)</li>
                <li>Inne dane, które użytkownik zdecyduje się przekazać za pośrednictwem formularzy kontaktowych</li>
            </ul>
        </section>

        <section id="cele-przetwarzania">
            <h2>3. Cele przetwarzania danych</h2>
            <p>Dane osobowe użytkowników są przetwarzane w następujących celach:</p>
            <ul>
                <li>Odpowiedzi na zapytania przesłane za pośrednictwem formularzy kontaktowych</li>
                <li>Realizacji usług oferowanych przez właściciela Strony</li>
                <li>Prowadzenia komunikacji z użytkownikami</li>
                <li>Wypełnienia obowiązków prawnych ciążących na właścicielu Strony</li>
            </ul>
        </section>

        <section id="podstawa-prawna">
            <h2>4. Podstawa prawna przetwarzania danych</h2>
            <p>Przetwarzanie danych osobowych odbywa się na podstawie:</p>
            <ul>
                <li>Zgody użytkownika (art. 6 ust. 1 lit. a RODO)</li>
                <li>Wykonania umowy (art. 6 ust. 1 lit. b RODO)</li>
                <li>Obowiązków prawnych (art. 6 ust. 1 lit. c RODO)</li>
            </ul>
        </section>

        <section id="odbiorcy-danych">
            <h2>5. Odbiorcy danych osobowych</h2>
            <p>Dane osobowe użytkowników mogą być udostępniane następującym odbiorcom:</p>
            <ul>
                <li>Podmiotom świadczącym usługi IT, w tym hostingowe</li>
                <li>Platformie Useme w celu wystawienia faktur oraz realizacji płatności</li>
                <li>Organom ścigania lub innym instytucjom, jeśli będzie to wymagane przez prawo</li>
            </ul>
        </section>

        <section id="przechowywanie-danych">
            <h2>6. Przechowywanie danych</h2>
            <p>Dane osobowe będą przechowywane przez okres niezbędny do realizacji celów, dla których zostały zebrane, a po tym czasie – przez okres wymagany przepisami prawa.</p>
        </section>

        <section id="prawa-uzytkownikow">
            <h2>7. Prawa użytkowników</h2>
            <p>Użytkownicy mają prawo do:</p>
            <ul>
                <li>Dostępu do swoich danych osobowych</li>
                <li>Sprostowania danych, jeśli są one nieprawidłowe lub niekompletne</li>
                <li>Usunięcia danych ("prawo do bycia zapomnianym")</li>
                <li>Ograniczenia przetwarzania danych</li>
                <li>Przenoszenia danych do innego administratora</li>
                <li>Wniesienia sprzeciwu wobec przetwarzania danych osobowych</li>
            </ul>
        </section>

        <section id="bezpieczenstwo-danych">
            <h2>8. Bezpieczeństwo danych</h2>
            <p>Właściciel Strony stosuje odpowiednie środki techniczne i organizacyjne w celu zapewnienia bezpieczeństwa danych osobowych oraz ochrony ich przed nieuprawnionym dostępem, utratą czy zniszczeniem.</p>
        </section>

        <section id="zmiany-polityki">
            <h2>9. Zmiany w Polityce Prywatności</h2>
            <p>Właściciel Strony zastrzega sobie prawo do wprowadzania zmian w niniejszej Polityce Prywatności. Zmiany będą publikowane na tej stronie, a ich datę ostatniej aktualizacji można znaleźć na końcu dokumentu.</p>
        </section>

        <section id="kontakt">
            <h2>10. Kontakt</h2>
            <p>W przypadku pytań dotyczących Polityki Prywatności lub przetwarzania danych osobowych, prosimy o kontakt pod adresem e-mail: wojteksmolarek7@gmail.com.</p>
        </section>
      </article>
  </section>
</Base>
