---
import Base from "../../layouts/Base.astro";

const title = "Regulamin";

---

<Base title={title}>
  <section>
    <h1 class="mb-8 text-2xl font-medium tracking-tight">Regulamin strony</h1>
      <article class="prose prose-quoteless prose-neutral dark:prose-invert">
       <section id="postanowienia-ogolne">
            <h2>Postanowienia ogólne</h2>
            <ol>
                <li>Niniejszy regulamin określa zasady korzystania ze strony internetowej dostępnej pod adresem www.wojciechsmolarek.pl.</li>
                <li>Właścicielem strony jest Wojciech Smolarek, osoba fizyczna świadcząca usługi na podstawie umowy cywilnoprawnej i rozliczająca się za pośrednictwem platformy Useme.</li>
                <li>Kontakt z właścicielem strony możliwy jest poprzez adres e-mail: wojteksmolarek7@gmail.com.</li>
            </ol>
        </section>

        <section id="zakres-dzialalnosci">
            <h2>Zakres działalności</h2>
            <ol>
                <li>Strona internetowa ma charakter informacyjny i prezentuje ofertę usług świadczonych przez Wojciecha Smolarka, takich jak konsultacje SEO, pozycjonowanie, audyty techniczne SEO, projektowanie stron internetowych, marketing internetowy.</li>
                <li>Usługi są realizowane na podstawie indywidualnych zleceń i rozliczane za pomocą platformy Useme, która wystawia faktury VAT w imieniu właściciela strony.</li>
            </ol>
        </section>

        <section id="prawa-i-obowiazki">
            <h2>Prawa i obowiązki użytkowników</h2>
            <ol>
                <li>Użytkownicy strony zobowiązani są do korzystania z niej w sposób zgodny z prawem, dobrymi obyczajami oraz postanowieniami niniejszego regulaminu.</li>
                <li>Zabrania się dostarczania treści o charakterze bezprawnym za pośrednictwem formularzy kontaktowych lub innych narzędzi dostępnych na stronie.</li>
                <li>Użytkownicy mogą kontaktować się z właścicielem strony w celu uzyskania oferty lub omówienia szczegółów współpracy.</li>
            </ol>
        </section>

        <section id="zasady-wspolpracy">
            <h2>Zasady współpracy</h2>
            <ol>
                <li>Wszelkie zlecenia realizowane są na podstawie indywidualnych ustaleń między klientem a właścicielem strony.</li>
                <li>Rozliczenia dokonywane są za pośrednictwem platformy Useme, która wystawia fakturę VAT dla klienta oraz odprowadza wszelkie należne podatki.</li>
                <li>Szczegółowe warunki realizacji usług oraz przekazania praw autorskich (jeśli dotyczy) określane są w umowie zawieranej przez platformę Useme.</li>
            </ol>
        </section>

        <section id="ochrona-danych-osobowych">
            <h2>Ochrona danych osobowych</h2>
            <ol>
                <li>Właściciel strony przetwarza dane osobowe użytkowników zgodnie z obowiązującymi przepisami prawa, w tym Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 (RODO).</li>
                <li>Szczegółowe informacje dotyczące przetwarzania danych osobowych znajdują się w Polityce Prywatności dostępnej na stronie.</li>
            </ol>
        </section>

        <section id="prawa-wlasnosci-intelektualnej">
            <h2>Prawa własności intelektualnej</h2>
            <ol>
                <li>Wszelkie materiały zamieszczone na stronie są chronione prawami autorskimi i należą do Wojciecha Smolarka lub zostały wykorzystane za zgodą uprawnionych podmiotów.</li>
                <li>Kopiowanie, rozpowszechnianie lub wykorzystywanie treści ze strony bez zgody właściciela jest zabronione.</li>
            </ol>
        </section>

        <section id="odpowiedzialnosc">
            <h2>Odpowiedzialność</h2>
            <ol>
                <li>Właściciel strony dokłada wszelkich starań, aby treści zamieszczone na stronie były aktualne i rzetelne, ale nie ponosi odpowiedzialności za ich wykorzystanie przez użytkowników.</li>
                <li>Właściciel nie odpowiada za przerwy w działaniu strony wynikające z przyczyn technicznych lub niezależnych od niego.</li>
            </ol>
        </section>

        <section id="postanowienia-koncowe">
            <h2>Postanowienia końcowe</h2>
            <ol>
                <li>Regulamin może być zmieniany przez właściciela strony w dowolnym czasie, a jego zmieniona wersja będzie publikowana na stronie internetowej.</li>
                <li>Korzystanie ze strony po wprowadzeniu zmian oznacza akceptację nowego regulaminu.</li>
                <li>Regulamin wchodzi w życie z dniem 20.12.2024.</li>
            </ol>
        </section>
      </article>
  </section>
</Base>
