---
import Base from "../layouts/Base.astro";
import { Picture } from "astro:assets";

const title = "Technical SEO Specialist, Freelancer SEO";
const description = "Potrzebujesz wsparcia w technicznym SEO? Pomog Ci zoptymalizowa stron, poprawi widoczno i zwikszy ruch organiczny. Sprawd藕, jak mog wesprze Tw贸j biznes!";
---

<Base title={title} description={description}>
  <section>
    <Picture
      formats={['avif', 'webp']}
      src="/profile-photo.png"
      alt="Wojciech Smolarek - Technical SEO Specialist oraz freelancer SEO"
      class="rounded-full block lg:mt-5 mt-0 lg:mb-5 mb-10 mx-auto sm:float-right sm:ml-5 sm:mb-5"
      width="160"
      height="160"
      loading="eager"
      fetchpriority="high"
      quality={75}
    />
  
    <h1 class="mb-8 text-2xl font-medium tracking-tight">
       Hej, tu Wojciech! Mio Ci pozna!
    </h1>
  
    <div class="prose prose-neutral dark:prose-invert">
      <p>
          <b>Jestem Technical SEO Specialist</b>, a m贸wic wprost - uwielbiam zaglda pod mask stron internetowych i wyciska z nich maksymalne mo偶liwoci. Na codzie, jako <b>Technical SEO Specialist w Oponeo.pl</b>, dbam o to, aby nasi u偶ytkownicy bezproblemowo trafiali do tego, czego szukaj. Moja praca to nie tylko rutyna, ale przede wszystkim pasja do analizy danych, algorytm贸w wyszukiwarek i cigego poszukiwania optymalnych rozwiza.
      </p>
      <p>
         <b>Dowiadczenie</b> budowaem zar贸wno pracujc w <b>agencjach SEO</b>, gdzie miaem okazj "grzeba" przy wielu projektach, jak i jako <b>niezale偶ny doradca</b> oraz <b>Freelancer SEO</b>. Dodatkowo, dziaam z Bydgoszczy i jestem otwarty na wsp贸prac zar贸wno lokalnie, jak i zdalnie. Dziki temu wiem, 偶e <b>skuteczna optymalizacja techniczna SEO</b> to poczenie wiedzy, dowiadczenia i analitycznego podejcia.
      </p>
  
      <p>
         Specjalizuj si w takich obszarach jak:
        <ul>
          <li><b>audyt techniczny SEO</b>, pozwalajcy wychwyci "ukryte" problemy,</li>
          <li><b>optymalizacja prdkoci strony</b>, bo nikt nie lubi czeka,</li>
          <li><b>wdra偶anie schema.org</b>, by roboty jeszcze lepiej rozumiay treci,</li>
          <li><b>indeksowanie i crawling</b>, czyli jak sprawi, by Google nas lubio,</li>
          <li><b>migracje stron internetowych</b>, czyli jak bezbolenie przenie stron w nowe miejsce,</li>
          <li><b>dostosowanie strony do Mobile-First Indexing</b>, bo dzisiaj wikszo przeglda Internet na telefonie,</li>
          <li><b>analiza log贸w serwera</b>, czyli gdzie kryje si prawda o aktywnoci robot贸w,</li>
          <li>i wiele, wiele innych kwestii technicznych.</li>
        </ul>
       </p>
  
       <p>
          Czy Twoja strona internetowa potrzebuje pomocy <b>Technical SEO Specjalisty</b>? Jeli czujesz, 偶e Twoja witryna ma potencja, ale "co" j ogranicza - <b>skontaktuj si ze mn</b>! Porozmawiajmy o tym, jak razem mo偶emy podnie jej widoczno i osign lepsze wyniki.
        </p>
  
      <p>
        Lubi patrze jak projekty, w kt贸rych maczam palce rosn w si. Mylisz o rozwoju i chcesz porozmawia o SEO?  <a href="mailto:kontakt@wojciechsmolarek.pl">Zostaw wiadomo</a>!
       </p>
  
    </div>
  </section>
</Base>
