---
import { metaData, socialLinks } from "../config";
import { Icon } from "astro-icon/components";

const YEAR = new Date().getFullYear();

const socialIcons = [
  { href: socialLinks.github, icon: "fa6-brands:github" },
  { href: socialLinks.instagram, icon: "fa6-brands:instagram" },
  { href: socialLinks.linkedin, icon: "fa6-brands:linkedin-in" },
  { href: socialLinks.email, icon: "tabler:mail-filled" },
];
---

<footer class="mt-16 lg:mt-24 text-gray-800 dark:text-gray-300 relative">
    <small class="block">
    <span aria-label="Year">© {YEAR}</span>
    {" "}
    <span>
      <a href="/" aria-label="Link do strony głównej" rel="home">{metaData.title}</a>
    </span>
      </small>

    <nav class="float-right">
        <ul class="flex text-lg gap-3.5 transition-opacity duration-300 hover:opacity-90">
        {
            socialIcons.map((link) => (
                <li class="m-0 p-0">
                   <a href={link.href} target="_blank" rel="noopener noreferrer" aria-label={link.href.includes("github") ? "Profil na GitHub" : link.href.includes("instagram") ? "Profil na Instagram" : link.href.includes("linkedin") ? "Profil na LinkedIn" : "Wyślij wiadomość na Email" }>
                    <Icon name={link.icon} />
                    </a>
                </li>
            ))
        }
        </ul>
    </nav>
</footer>
